*{
    padding:0;
    margin: 0;
}
h3{
    display: flex;
    flex-direction: column;
    
}
h4{
    font: outline;
    /* text-shadow: 6px 3px 5px ; */
}
li a:hover{
   background-color:teal;
}
.myContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 15px 10px;
    margin: 10px 15px;
    align-items: center;
    justify-content: center;

}
.myBtn{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:gray;
    padding: 5px 15px;
    border-radius: 3px;
    border: none;
    margin: 9px;
}
.weatherDisplay{
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    margin: 5px 10px;
}
.gridContainer{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
}
.gridContainer>div{
    border-radius: 7px;
    padding: 15px;
    margin: 9px;
    border: 2px solid rgba(0, 0, 255, 0.705);
}
.gridContainer div>img{
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.weatherDisplay #cur-weather1{
    padding: 15px;
}
.weatherDisplay #cur-weather2{
    padding: 15px;
    
}
.weatherDisplay #cur-weather3{
    padding: 15px;
    
}
.weatherDisplay #cur-weather4{
    padding: 15px;
    
}
.weatherDisplay #cur-weather5{
    padding: 15px;
    
}
.weatherDisplay #cur-weather6{
    padding: 15px;
    
}
.descp{
    font-weight: lighter;
    font-style: italic;
    text-transform: capitalize;
}
.city{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.time{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}
.temp{
    border: none;
    display: flex;
    flex-direction: row;
}
.temp p{
    padding: 5px;
    font-weight: bold;
    color: black;
    opacity: 0.7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.temp p:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.808);
    border-left: 1px black solid;
    transition: 0.5s;

}
.otherList {
    padding: 5px;
}
.otherList p{
    list-style: circle;
    font-size: 16px;
    font-weight: lighter;
}
#errMsg{
    font-style: italic;
    color: red;
    text-decoration: underline;
}
